.searchBox {
  display: flex;
  align-items: center;
  background-color: aliceblue;
  border-radius: 5px;
  padding: 10px;
  justify-content: space-around;
}
input {
  border: none;
  font-size: 25px;
  width: 200px;
  background-color: aliceblue;
}

.SearchIcon {
  margin: 5px;
  color: gray;
}

.LocationIcon {
  margin: 5px;
  color: gray;
}

.SearchIcon:hover {
  cursor: pointer;
}
.NotFound {
  background-color: aliceblue;
  color: cadetblue;
  border-radius: 5px;
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.ContainerResult {
  background-color: aliceblue;
  color: rgb(13, 69, 71);
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}

.Temperature {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
}
